/******* RESET  *******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/********** WINDOWS SETTINGS *******/

body {
    background-image: url(/Assets/Green\ Bg.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 90vh;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}


/********* PANEL CONFIGURATOR ***********/

.panel-players {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(169, 151, 151);
    box-shadow: 15px 25px 20px rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.panel-first-player,
.panel-second-player {
    width: 50%;
    float: right;
    height: 600px;
    padding: 100px;
    text-align: center;
}


/********** PLAYERS  **************/

div {
    font-family: 'lato', sans-serif;
    font-weight: 100;
}

.username-first,
.username-second {
    font-size: 55px;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.first-player-score,
.second-player-score {
    font-size: 70px;
    padding-bottom: 130px;
}

.title-box,
.score-first-player,
.score-second-player {
    background-color: rgb(224, 75, 100);
    color: antiquewhite;
    font-size: 25px;
    text-align: center;
    padding: 5px;
}

.title-box {
    font-weight: 300;
    color: black;
}

button {
    position: absolute;
    width: 15%;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    font-weight: 300;
}

.btn-info {
    top: 35px
}

.btn-primary {
    top: 350px
}

.btn-dark {
    top: 400px
}

.dice {
    position: absolute;
    left: 50%;
    top: 180px;
    transform: translate(-50%);
    height: 110px;
}


/*********** FOOTER  **********/

footer {
    margin: 0;
    bottom: 0;
    margin-right: 30px;
    position: relative;
    padding-top: 800px;
    text-align: end;
}

.copyright {
    color: azure;
    font-size: 13px;
    font-family: 'lato', sans-serif;
}